<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyBlankApp" >


        <activity
            android:name="com.dsign.myblankapp.ImageActivity"
            android:exported="false" />
        <activity
            android:name="com.dsign.myblankapp.MainActivity"
            android:banner="@drawable/app_icon_your_company"
            android:exported="true"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dsign.myblankapp.DetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.dsign.myblankapp.PlaybackActivity"
            android:exported="false" />
        <activity
            android:name="com.dsign.myblankapp.BrowseErrorActivity"
            android:exported="false" />
        <service android:name="com.dsign.services.DeviceService"></service>
        <receiver android:name="com.dsign.receivers.AlarmReceiver"></receiver>
        <receiver android:name="com.dsign.receivers.DownloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>